.event_img{
    width: 260px;
    height: 160px;
    /* object-fit: contain; */
    border-radius: 6px;
}
.events-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.event-card {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: start;
    height: 400px;
    width: 290px;
    /* border: 1px solid yellow; */
    border-radius: 6px;
    padding: 20px 0 0 0;
    margin: 0 30px;
}
.event-card:hover {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    justify-content: start;
    height: 400px;
    width: 290px;
    /* border: 1px solid yellow; */
    border-radius: 6px;
    padding: 20px 0 0 0;
}



.events-container {
    width: 85%;
    margin: 20px auto;
}

.details-info{
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    align-items: start;
    justify-content: flex-start;
    width: 250px;
    gap: 0;
    margin: 17px auto;
}



.btn-neon{
    text-decoration: none;
    color: #f5f5f5;
    transition: 1s;
    transition-delay: .9s;
    border: 1px solid rgba(255, 255, 255, 0.218);
    font-weight: 600;
}


.btn-neon:hover{
    color: black;
    box-shadow: 0 0 10px #00bfff,
                0 0 40px #00bfff,
                0 0 80px #00bfff;
    background-color: #00bfff;
    border: #00bfff solid 1px;
}
.btn-neon:hover *{
    color: black;
    font-weight: 600;
    transition: 1s;
    /* transition-delay: .9s; */
}



.btn-neon{
    fill: transparent;
    stroke: #00bfff;
    stroke-width: 2px;
    stroke-dasharray: 40 460;
    stroke-dashoffset: 40;
    transition:  .8s ease-in-out;
}
