/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
  }

  body {
    color: #FDFCE9;
    background-color: #111111;
}

p{
  font-size: .7rem;
}

/* loading */
.loading {
  margin: auto;
}
.loading {
  margin: auto;
  padding: 0;
  font-family: ‘Arial Narrow’, sans-serif;
  font-weight: 100;
  font-size: 1.1em;
  color: #00bfff;
}
#loading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading span {
  position: relative;
  top: 0.63em;
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
  transform: rotateX(-90deg);
}

.loading .let1 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.loading .let2 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.loading .let3 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.loading .let4 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;

}

.loading .let5 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.loading .let6 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.loading .let7 {
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}

.required {
  color: red;
  font-size: x-small;
  padding-left: 5px;
  position: relative;

}

.required::before {
  content: '*';
  position: absolute;
  top: -10px;
  left: 0;
  font-size: x-small;
  color: red;
}

.err-msg{
  color: rgba(255, 0, 0, 0.708);
  margin-top: 5px;
  width: 100%;
}
