.decks-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


}
.top-details {
    display: flex;
    justify-content: center;
}

.decks-container {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    background: #11111147;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
.decks-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 110px;
    margin: 50px;
    justify-content: start;
    align-items: center;


}
.decks-container li {
    position: relative;
    align-items: center;
    text-align: center;
}

.decks-container .card {
    position: relative;
    width: 120px;
    height: 150px;
    transition: transform 0.3s ease-in-out;

    text-align: center;
}
.card {
    text-align: center;
}
.card a{
    text-align: center;
    color: white;
}

.decks-search{
    margin: 0 300px 0 auto;
}
