.profile-dropdown {
  position: absolute;
  right: 4%;
  top: 10%;
  background-color: white;
}

.logo {
  width: 12rem;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.navbar li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  list-style: none;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 500px;
}

.searchbar input {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 20px;
  background-color: #0a0a0a;
  color: #fff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 204, 255, 0.7), 0 0 15px rgba(0, 204, 255, 0.5);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.searchbar input:focus {
  box-shadow: 0 0 15px rgba(0, 204, 255, 1), 0 0 30px rgba(0, 204, 255, 0.7);
  background-color: #1a1a1a;
}
