.profile-dropdown {
  right: 2%;
  top: 10%;
  position: absolute;
  background: rgba(20, 20, 20, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 1000;
  transition: all 0.3s ease;
}

.profile-dropdown div {
  padding: 10px 0;
  color: #00bfff;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.27);
}

.profile-dropdown li {
  list-style: none;
  margin: 10px 0;
  position: relative;
  margin-top: 5px;
}

.profile-dropdown li a,
.profile-dropdown li button {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
  transition: background 0.3s, transform 0.3s;
}

.profile-dropdown li a:hover,
.profile-dropdown li button:hover {
  color: black;
  background: linear-gradient(45deg, #00bfff, #ecf5f8);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 191, 255, 0.5);
}

.profile-dropdown button.glow-on-hover2 {
  background: transparent;
  margin-top: 20px;
  border: 2px solid #00bfff;
  transition: background 0.3s, color 0.3s;
}

.profile-dropdown button.glow-on-hover2:hover {
  background: #00bfff;
  color: #fff;
}

.logo {
  width: 12rem;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  list-style: none;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 500px;
}

.searchbar input {
  padding: 10px;
  width: 400px;
  border: none;
  border-radius: 20px;
  background-color: #0a0a0a;
  color: #fff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 204, 255, 0.7), 0 0 15px rgba(0, 204, 255, 0.5);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.searchbar input:focus {
  box-shadow: 0 0 15px rgba(0, 204, 255, 1), 0 0 30px rgba(0, 204, 255, 0.7);
  background-color: #1a1a1a;
}

.menu-drop {
  list-style: none;
  margin: 10px 0;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
  cursor: pointer;
}

.menu-drop:hover {
  color: black;
  background: linear-gradient(45deg, #00bfff, #ecf5f8);
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 191, 255, 0.5);
}

.menu-drop:active {
  background: rgba(0, 191, 255, 0.3);
}
